{% extends 'views/layout/layout.html' %}

{% block css %}
  <link rel="stylesheet" href="/static/css/control.css">
{% endblock %}

{% block javascript %}
  <script src="/static/js/common.js"></script>
  <script>
    PAGE_MODE = '{{ data.page }}';
  </script>
  
  <script src="/static/js/control.js"></script>
{% endblock %}

{% block content %}
  <div class="block" style="border-bottom: unset;">
      <div class="control_content">
          <table>
              <tr>
                  <td>
                    <table class="remote_control">
                      <tr>
                          <td></td>
                          <td><button class="btn_up"><i class="fa fa-arrow-circle-up" style="font-size:50px;"></i></button></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td><button class="btn_left"><i class="fa fa-undo" style="font-size:50px;"></i></button></td>
                          <td><button class="btn_stop"><i class="fa fa-stop-circle" style="font-size:50px;"></i></button></td>
                          <td><button class="btn_right"><i class="fa fa-repeat" style="font-size:50px;"></i></button></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><button class="btn_down"><i class="fa fa-arrow-circle-down" style="font-size:50px;"></i></button></td>
                          <td></td>
                      </tr>
                    </table>
                  </td>
                  
                  <td style="width: 30%; padding-top: 15px; padding-bottom: 40px;">
                    <div id="emergency_area">
                      <button class="btn emergency_stop" onclick="emergency()">EMERGENCY STOP</button>
                    </div>
                    <div>
                      <button class="btn dock" onclick="dock()">DOCK</button>
                    </div>
                  </td>

                  <td class="dock_area" style="width: 30%; padding-top: 15px; padding-bottom: 40px;">
                    <span class="speed_lbl">Current Speed : <i id="linear_speed"> - </i> </span><br/><br/>
                    <div>
                      <i class="fa fa-minus-circle" id="speed_down" style="font-size:50px; margin-right:30px;"></i>
                      <i class="fa fa-plus-circle" id="speed_up" style="font-size:50px;"></i>                      
                    </div>
                  </td>
              </tr>

              <tr colspan="3">
                <th colspan="3" class="emergency_alert">Emergency Button from Robot is ON, please release Emergency Button</th>
              </tr>
              
          </table>
      </div>
  </div>

  <div class="block">
    <table>
          <tr>
              <td>
                  <!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe> -->
                  <img id="camera_live" src="http://192.168.200.214/axis-cgi/mjpg/video.cgi?" />
              </td>
          </tr>
          <tr>
              <td>
                  <div class="camera_control">  
                      <button id="1" onclick="rotate(this.id)" class="btn camera_btn_group">Left</button>
                      <button id="2" onclick="rotate(this.id)" class="btn camera_btn_group">Right</button>
                      <button id="3" onclick="rotate(this.id)" class="btn camera_btn_group">&nbsp UP &nbsp</button>
                      <button id="4" onclick="rotate(this.id)" class="btn camera_btn_group">DOWN</button>
                  </div>
              </td>
          </tr>
      </table>
  </div>

  <div class="block">
      <table>
        <tr>
          <td>
            <div class="status_zone">
              <span id="connection_status"> <i class="fa fa-exclamation-circle"></i> Not Connected</span> 
              <span id="charging_status"> | Charging : <i id="battery_level_charge"></i> <i class="fa fa-bolt"></i> </span>
              <span id="battery_status">  | Battery :  <i id="battery_level"></i> <i class="fa fa-battery-full"></i></span>
            </div>
          </td>
        </tr>
      </table>    
  </div>

  {% endblock %}
