<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/logo.ico">

    <title>DX Disinfection Robot</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/static/css/fontawesome-free-5.13.0-web/css/fontawesome.min.css" rel="stylesheet"> -->
    <link href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
    
    <!-- library js -->
    <script src="/static/js/lib/jquery-3.5.1.min.js"></script>

    <!-- Custom js  -->
    <script src="/static/js/layout.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/store.js"></script>

  </head>
  <body>
    <div class="container" style="margin-bottom: unset;">
    	<div class="menu">
    		<div><img src="/static/img/logo.png" class="logo"/></div>
    		<div class="header-text">DX Disinfection Robot</div>
    	</div>
    </div>
    
    <div class="container" style="background-color: #393f4d">
        <div class="menu" style="border-bottom: unset;">
            <div class="auto active menu-btn" style="width: 50%;">AUTO</div>
            <div class="manual menu-btn" style="width: 50%;">MANUAL</div>
        </div>

        <div class="block" style="border-bottom: unset;">
            <div class="control_content">
                <table>
                    <tr> 
                        <!-- motion alert show -->
                        <td class="motion_alert">
                            <div class="motion_alert" style="padding: 30px;">
                                <img src="/static/img/motion_alert.PNG" width="100%" height="100%">
                            </div>
                        </td>

                        <td class="uvc_power" style="padding-bottom: 40px;">
                            <div class="select_type">
                            	UVC Power Mode
                                <select class="form-control" id="open_type">
                                    <option value="full">FULL</option>
                                    <option value="medium">MEDIUM</option>
                                </select>
                            </div>
                            <!-- timer select  -->
                            <div class="timer_select">Set Timer
                                <select class="form-control" id="timer_min">
                                    <option value="10">10 min</option>
                                    <option value="20">20 min</option>
                                    <option value="30">30 min</option>
                                    <option value="40">40 min</option>
                                    <option value="50">50 min</option>
                                    <option value="60">60 min</option>
                                </select>
                            </div>
                        </td>
                        <td class="time_area" style="width: 50%; padding-top: 15px; padding-bottom: 40px;">
                        	<span class="timer_lbl">Remaining Time</span>
	                            <div class="timer" name="0">
	                                00:00
                                </div>
                                <span id="hour_group">
                                    <span>Minutes &nbsp;&nbsp; : &nbsp;&nbsp;</span>
                                    <span>Seconds</span>
                                </span>                                

	                            <span class="run_time_lbl">RUN TIME</span>
	                            <div class="run_time">
	                                00:00:00
	                            </div>
                        </td>
                    </tr>

                    <tr>
                    	<td colspan="2">
                    		<div>
		                    	<button class="btn uvc_btn_group start">START</button>
		                    	<button class="btn uvc_btn_group pause">
                                    <span class="pause_btn">PAUSE</span>
                                    <span class="resume_btn">RESUME</span>
                                </button>
		                    	<button class="btn uvc_btn_group stop">STOP</button>
	                    	</div>
                    	</td>
                    </tr>

                    <tr>
                    	<td colspan="2">
                    		<div style="display: inline-flex; padding-top: 20px;">
                                <span>UVC Lamp lifespan remaining </span> &nbsp; &nbsp;
                                    <p id="total_hours"> 9000 </p>
                                <span> &nbsp;&nbsp; Hours </span>
		                    </div>
                    	</td>
                    </tr>
                    
                </table>
            </div>
        </div>

        <div class="block">
        	<table>
                <tr>
                    <td>
                        <!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe> -->
                        <img id="camera_live" src="http://192.168.200.214/axis-cgi/mjpg/video.cgi?" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="camera_control">  
                            <button id="1" onclick="rotate(this.id)" class="btn camera_btn_group">Left</button>
                            <button id="2" onclick="rotate(this.id)" class="btn camera_btn_group">Right</button>
                            <button id="3" onclick="rotate(this.id)" class="btn camera_btn_group">&nbsp UP &nbsp</button>
                            <button id="4" onclick="rotate(this.id)" class="btn camera_btn_group">DOWN</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="footer">
        <span> Copyright @ Datumstruct Autonomous Robotic Technology</span>
      </div>
</body>
</html>

