{% extends 'views//layout/layout.html' %}

{% block css %}
    <link href="/static/css/cover.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/manual.css">
{% endblock %}

{% block javascript %}
    <script src="/static/js/manual.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}

<div class="content">
    <div class="jumbotron jumbotron-fluid" id="jumb" style="background:transparent !important">
        
            <h1>Hello Manual</h1>
       
    </div>
</div>
{% endblock %}

