<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/logo.ico">

    <title>DX5 Dashboard</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/static/css/fontawesome-free-5.13.0-web/css/fontawesome.min.css" rel="stylesheet"> -->
    <link href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% block css %}{% endblock %}
    
    <!-- library js -->
    <script src="/static/js/lib/jquery-3.5.1.min.js"></script>

    <!-- Custom js  -->
    <script src="/static/js/layout.js"></script>
    {% block javascript %}{% endblock %}

  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">
          <img src="/static/img/logo.png" width="150" height="58"/>
      </h5>
      <!-- <nav class="my-2 my-md-0 mr-md-3">
        <a class="auto p-2 text-dark">Auto</a>
        <a class="manual p-2 text-dark">Manual</a>
      </nav> -->
    </div>
    <div class="container">
    <div class="menu">
      <div class="auto active" style="width: 50%;">AUTO</div>
      <div class="manual" style="width: 50%;">MANUAL</div>
    </div>
  </div>

    {% block content %}{% endblock %}

    <div class="footer">
      <p> Copyright © Datumstruct (S) </p>
    </div>
  </body>
