html {
  font-size: 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #000;
}

.logo {
  width: 102px;
  height: 60px;
  margin-left: 4px;
}

@media screen
  and (max-device-width: 420px) {
      .logo {
          height: 49px;
      }
  }

.menu {
  width: 100%;
  display: inline-flex;
  text-align: center;
  /*padding: 2px;*/
  font-size: 14px;
}

.active {
  border: 2px solid #9be8fc;
  color: #9be8fc;
  font-weight: bold;
}

.auto , .manual{
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0299A8 ;
  color: white;
  text-align: center;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
}

@media screen
  and (max-device-width: 800px) {
      .footer {
        position: fixed;
        height: 40px;
        line-height: 40px;
      }
  }
