html {
    font-size: 10px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.logo {
  width: 150px;
  height: 60px;
}

@media screen
    and (max-device-width: 420px) {
        .logo {
            height: 60px;
        }
    }


.menu {
  width: 100%;
  display: inline-flex;
  text-align: center;
  padding: 2px;
}

.active {
  border-bottom: 3px solid #43c3d5;
  background-color: #252424;
  color: white;
  font-weight: bold;
}

.auto{
  cursor: pointer;
}

.manual {
  cursor: pointer;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00adff;
  color: white;
  text-align: center;
  height: 25px;
  line-height: 25px;
}

@media screen
    and (max-device-width: 800px) {
        .footer {
          position: fixed;
          height: 40px;
          line-height: 40px;
        }
    }
