.container {
    margin-bottom: 20px;
}

.block{
    border-style: groove;
    width: 100%;
    display: inline-flex;
    margin-bottom: 40px;
}

@media screen
    and (max-device-width: 420px) {
        .block {
            margin-bottom: 10px;
        }
    }

.control_content {
    margin-bottom: 7px; 
    width: 100%;
}

@media screen
    and (max-device-width: 420px) {
        .control_content {
            margin-bottom: 40px;
        }
    }

table {
    width: 100%; 
    height: 100%
}

td{
    text-align: center;
}

.select_type {
    margin-left: 10px;
    margin-top: 20px;
}

.timer_select {
    margin-left: 10px;
    margin-top: 10px;
}

select{
    min-width: 65px;
}

.off_label {
    margin-top: 8px
}

.off_btn {
    margin-top: 5px
}

.timer {
    border: 1px solid #000; 
    margin-right: 7px; 
    /* padding: 22px;  */
    margin-top: 4px;
    margin-bottom: 6px;
}

.run_time_lbl {
    display: none;
}

.run_time {
    display: none;
    border: 1px solid #000;
    margin-right: 7px; 
    /* padding: 22px; */
}

@media screen
    and (max-device-width: 420px) {
        .run_time {
            margin-right: 5px; 
            /* padding: 2px; */
            margin-top: 10px
        }
    }

button{
    margin-left: 4px;
}

.camera_error {
    display: none;
    width: 100%;
    color: red;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

.camera_control {
    padding-bottom: 20px;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px){
      .container{
        padding-right: 85px;
        padding-left: 85px;
        margin-right: auto;
        margin-left: auto;
      }
  }