.container {
    margin-bottom: 20px;
    padding-right: unset;
    padding-left: unset;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
      .container {
        /*padding-right: 85px;
        padding-left: 85px;*/
        margin-right: auto;
        margin-left: auto;
      }
  }

.header-text {
    margin: 0 auto;
    text-align: center;
    line-height: 2.5em;
    font-size: 33px;
    font-weight: bold;
    color: #7bc9cc;
}

@media screen
    and (max-device-width: 420px) {
        .header-text {
            font-size: 22px;
        }
    }

.menu-btn {
    /*background-color: #0095b3;*/
    /*color: #777f84;*/
    /*border: 1px solid #9be8fc;*/
    padding: 3px;
}

.block{
    /*border-style: groove;*/
    border: 2px solid #9be8fc;
    width: 100%;
    display: inline-flex;
   /* margin-bottom: 40px;*/
}

@media (min-width: 430px) and (max-width: 1024px){
        .block {
            /* padding: 12px; */
        }
    }

.control_content {
    margin-bottom: 7px; 
    width: 100%;
    font-size: 18px;
    color: #9be8fc;
}

@media screen
    and (max-device-width: 420px) {
        .control_content {
            margin-bottom: 20px;
        }
    }

.motion_alert {
    display: none;
    padding: 20px;
}
.form-control{
    background-color: #9be8fc;
    margin-top: 6px;
}

table {
    width: 100%; 
    height: 100%
}

td {
    text-align: center;
}

.select_type {
    margin-left: 10px;
    width: 75%;
    font-weight: bold;
}

@media screen
    and (max-device-width: 420px) {
        .select_type {
            font-size: 15px;
            font-weight: normal;
        }
    }

.timer_select {
    margin-left: 10px;
    margin-top: 10px;
    width: 75%;
    font-weight: bold;
}

.timer_lbl {
    font-weight: bold;
}

select {
    min-width: 65px;
} 

#timer_min, #open_type {
    font-size: 18px;
    font-weight: bold;
}

@media screen
    and (max-width: 700px) {
        #timer_min, #open_type {
            font-size: 12px;
        }
    }

.timer {
    background-color: #000; 
    margin-right: 7px; 
     /*padding: 14px;*/ 
    margin-top: 4px;
    margin-bottom: 6px;
    margin-left: 8px;
    color: #29e929;
    font-size: 60px;
}

#hour_group {
    font-weight: bold;
    font-size: 14px;
}

.run_time_lbl {
    display: none;

}

.run_time {
    display: none;
    background-color: #000;
    margin-right: 7px;
    margin-top: 4px;
    margin-bottom: 6px;
    margin-left: 8px;
    color: #29e929;
    font-size: 60px;
}

@media screen
    and (max-device-width: 420px) {
        .run_time {
            margin-right: 5px; 
            /* padding: 2px; */
            margin-top: 10px;
            font-size: 50px;
        }
    }

button {
    margin-left: 4px;
}

.uvc_btn_group {
    margin-top: 2px;
    color: #000;
    width: 20%;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
}

@media (min-width: 420px) {
        .uvc_btn_group {
            /* margin-top: 20px; */
        }
    }

.start {
    background-color: #0DFF0E;
    border-color: #0DFF0E;
    float: left;
    margin-left: 24px;
}

.pause {
    /* background-color: #FEDA6A; */
    background-color: #2f2f2d;
    border-color: #FEDA6A;
    color: #2f2f2d;
}

.resume_btn {
    display: none;
}

.stop {
    /* background-color: #dc3545; */
    background-color: #2f2f2d;
    border-color: #dc3545;
    float: right;
    margin-right: 24px;
}

.start:active, .pause:active, .stop:active {
    background-color: white;
    font-size: 14.5px;
}

#total_hours {
    font-weight: bold;
    color: #acdc18;
}

#camera_live {
    width : 100%;
    height : 28%;
}

@media (max-width: 420px) {
    #camera_live {
        height: 31%;
    }
}

@media (max-width: 380px) {
    #camera_live {
        height: 25%;
    }
}

.camera_control {
    padding-bottom: 15px;
    padding-top: 10px;
}

@media (min-width: 430px) and (max-width: 800px){
    .camera_control {
        padding-top: 25px;
    }
}

.camera_btn_group{
    color: black;
    background-color: #d4fcfe;
    border-color: #d4fcfe;
    width: 20%;
    display: inline-block;
    font-weight: bold;
}

.camera_btn_group:active {
    background-color: black;
    font-size: 80%;
}

@media (min-width: 768px) and (max-width: 1024px){
    .camera_btn_group {
        width: 132px;
    }
}

iframe{
    padding: 6px;
    border: unset;
}
